apscheduler==3.9.1.post1
httpx[http2]
opencv-python
pendulum
psycopg2-binary
pymoe
git+https://github.com/Mayuri-Chan/pyrofork.git@master
pyston_lite_autoload
pytesseract
requests
sqlalchemy
tgcrypto
tzlocal
unidecode
